body {
  font-family: Georgia,serif;
}

.container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 15px 30px;
    border-radius: 2px;
    margin: 10px 150px;
    box-shadow: inset 0 1px 8px -3px #ababab;
    background: #fefefe;
    font-size: 1.1em;
}

.editor-container{
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    /* height: 200px; */
    overflow: auto;
    margin: 10px 0;
}

select {
    margin: 2px;
    height: 30px;
    border: 1px solid;
    background-color: lightblue;
}


.block {
  display: inline-block;
  margin: 5px 3px;
}

.block-todo {
  position: relative;
  padding: 8px 20px;
  border: 1px solid #f7f7f7;
  margin: 5px 3px;
  /*box-shadow: inset 0px 0px 10px 2px #f7f7f7;*/
  border-radius: 4px;
}

.block-todo input[type=checkbox] {
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
}

.block-todo-completed {
  text-decoration: line-through;
}

figure {
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}